.about-us {
    padding-top: 70px;
    background-color: var(--main-color);
}

.wrapper {
    position: relative;
    margin: auto;
}

.about-us__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 25px;
}

.about-us__text-block {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;

}

.about-us__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 0 23px;
    color: var(--dark-gray);
}

.about-us__sign {
    width: 43px;
    height: 2px;
    background: var(--dark-gray);
    margin: auto 0;
}

.about-us__text {
    max-width: 724px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--dark-gray);
    margin: 0 auto 50px;
}

.about-us__circle-block {
    display: flex;
    justify-content: space-between;
}

.about-us__cicrle-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-us__circle-wrap {
    margin-bottom: 16px;
}

.about-us__text-circle {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: var(--dark-gray);
    margin-bottom: 70px;

}

 @media all and (max-width:1024px) {
    .about-us__title {
        font-size: 32px;
        line-height: 38px;
    }

    .about-us__sign {
        width: 40px;
    }

    .about-us__subtitle {
        font-size: 20px;
        line-height: 23px;
    }

    .about-us__text {
        font-size: 16px;
        line-height: 23px;
    }

    .about-us__text-circle {
        max-width: 180px;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 0;
    
    }
.about-us__circle-block{
    justify-content: center;
    gap:20px;
}
.about-us{
    height: auto;
}
.about-us__cicrle-content{
    padding-bottom: 70px;
}
 }


@media all and (max-width:480px) {
    .about-us {
        height: 170vh;
    }

    .about-us__text {
        max-width: 290px;
    }

    .wrapper {
        max-width: 290px;
    }

    .about-us__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 15px;
    }

    .about-us__circle-block {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .about-us__sign {
        width: 19.71px;
        height: 1px;
    }

    .about-us__subtitle {
        font-size: 16px;
        line-height: 19px;
        padding: 0 21px;
    }

    .about-us__text-block {
        margin-bottom: 26px;
    }

    .about-us__text {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 40px;
    }

    .about-us__text-circle {
        max-width: 166px;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 40px;
    }
}